<nav id="left">
	<%= link_to '←', pictures_path, :title => "Back" %>
	<%= link_to '✘', @picture, 
			:method => :delete,
			:confirm => "Are you sure you want to delete this picture?",
			:title => "Delete this picture",
			:class => "delete"
	%>
</nav>

<%= render :partial => "form" %>

<img src="<%= @picture.url %>" id="fullscreen">