<h3><%= @picture.title %> <em>(by <%= @picture.artist %>)</em></h3>
<nav id="left">
	<a href="/pictures">←</a>
	<a href="/pictures/<%= @picture.id %>/edit">✏</a>
</nav>
<div class="show">
	<img src="<%= @picture[:url] %>" id="fullscreen">
</div>