/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

body {
	font-family: "Merriweather Sans", sans-serif;
	background-color: #dedede;
}

nav#right {
	position: fixed;
	right: 0px;
	top: 0px;
}

nav#left {
	position: fixed;
	left: 0px;
	top: 0px;
}

nav a {
	background-color: rgba(255, 255, 255, 0.5);
	color: blue;
	font-size: 100px;
	text-decoration: none;
	margin: 0;
	padding: 0;

	-webkit-transition: all 0.5s;
}

nav a:hover {
	color: white;
	background-color: black;
}

h1 {
	font-size: 100px;
	text-align: center;
	width: 100%;
	margin: 0;

	background-color: rgba(222, 222, 222, 0.25);
}

h2 {
	text-align: center;
	background-color: rgba(222, 222, 222, 0.75);
}

h3 {
	text-align: center;
	background-color: rgba(222, 222, 222, 0.75);

	position: fixed;
	bottom: 0;
	padding: 50px;
}


.index article {
	float: left;
	width: 200px;
	margin-right: 10px;

	-webkit-transition: all 0.5s;
}

.index article img {
	width: 200px;
	height: 200px;
	border-radius: 40%;
	display: block;



	-webkit-transition: all 0.5s;
}

.index article:hover {
	width: 300px;
	background-color: white;
	color: blue;
	text-decoration: underline;
}

.index article img:hover {
	width: 300px;
	height: 300px;
}

form#new {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	background-color: rgba(255,255,255,0.75);
	padding: 50px;
}

form#new input {
	font-size: 32px;
	width: 300px;
	padding: 10px;
}

input[type="submit"] {
	background-color: blue;
	color: white;
	border: 0;
}

img#fullscreen {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
}

label {
	padding: 10px;
	background-color: white;
}

a { color: blue; }